/* Загальні стилі */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Хедер */

.head {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-link-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio.current {
    color: #404bbf;
}

.nav-link-studio.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
    color: #434455;
    line-height: 1.5;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header address ul li a {
    text-decoration: none;
    color: #333333;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* Логотип */

.head .logo {
    margin-right: 76px;
    padding: 24px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: block;
}

.logo span {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

/* Герой секція */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero .container {
    text-align: center;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Секція Solutions */

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.icon-sol {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

.icon-solutions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    padding: 32px 16px;
    border-radius: 4px;
}

/* Секція Team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
}

.team-member {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-info {
    padding: 32px 0;
}

.team-member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.icon-t {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-team {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team:hover {
    background-color: #3751d5;
}

.t-icon {
    fill: #f4f4fd;
} 

/* Секція Portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text {
    transform: translateY(0%);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Футер */
footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.foter {
    display: flex;
    align-items: baseline;
}

.container-f {
    margin-right: 120px;
}

.foot .logo_ {
    color: #f4f4fd;
}

.foot .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot-p {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #31d0aa;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.icon-f {
    display: flex;
    gap: 16px;
}

.icon-footer {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.icon-footer:hover {
    background-color: #3751d5;
}

.icons {
    fill: #f4f4fd;
}

.sub-footer {
    margin-left: 80px;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 10px;
    background-color: transparent;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #ffffff;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-f {
    fill: #f4f4fd;
    margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}

/* Бекдроп */
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    display: flex;
}

.modal {
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .icon-close,
.close-modal:focus .icon-close {
    fill: #ffffff;
}

.modal-text {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-modal {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    position: relative;
    display: block;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
}

.modal-label input,
.modal-label textarea {
    padding: 10px;
    padding-right: 34px;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    background: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

input:focus + svg {
    fill: #4D5AE5;
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-check {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    align-items: center;
    color: #8e8f99;
}

.checkbox-form {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
}

.modal-checkbox:checked + .checkbox-label > .checkbox-form {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    color: #4d5ae5;
}

.checkbox-label .checkbox-icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #4d5ae5;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
    background-color: #31d0aa;
}
